body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 5px auto;
  display: inline-block;
  margin: 0 25%;
  
}

.title {
  background: #e3f4ff;
  margin: 5px;
  font-size: 20px;
}

.content {
  background: #e3f4ff;
  font-weight: 550;
  margin: 5px;
}

.button-container {
  background: #e3f4ff;
  margin-left: auto;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  padding: 5px 20px;
}